name: flutter_barcode
description: A custom widget which generates and displays a barcode.
version: 0.0.2
homepage: https://github.com/ItoYo16u/flutter_barcode

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
